.hobbies_cover{
  background-color: #570202;
  color: #FFF;
  padding: 2rem;
  /* padding-left: 1rem; */
  padding-bottom: 30px;
  padding-top: 40px;
  padding-right: 40px;
}
.hobbies_heading{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  /* to display text veritcally */
  writing-mode: vertical-lr;
  text-orientation:  upright;

  margin-top: -10px;
  text-align: center;
  color: white;
  opacity: 0.9;
  right: 0px;
  position: absolute;
}





div.card.hobbies_card{
  /* background-color: #e35e54; */
  background-color: white;
  border: none;
  padding: 10px;
  color: black;
  opacity: 0.6;
  /* display: inline; */
  /* color: rgba(255, 0, 0, 0.5); */
}

div.card.hobbies_card .card-title{
  font-size: 3rem;
}
