.contact_cover{
  background-color: #faeae6;
  color: black;
  padding: 40px;

}

.contact_heading{
  font-size: 3rem;
  /* font-size: 2vh; */
  height: inherit;
  font-weight: bold;
  text-transform: uppercase;
  /* to display text veritcally */
  writing-mode: vertical-lr;
  text-orientation:  upright;

  text-align: center;
  color: black;
  opacity: 0.9;
  left: 0px;
  position: absolute;
  /* right: 0; */
  padding-left: 15px;
}

.resume{
  /* align-items: center; */
  text-align: center;
  display: block;
  opacity: 0.7;
  background-color: red;
  border-radius: 10px;
  margin: 20px;
  transition: transform 0.2s;
  box-shadow: 5px 5px black;
}
.resume:hover{
  opacity: 1;
  /* padding: 20px; */
  box-shadow: 5px 5px black;
  transform: scale3d(1.1,1.1,1);
}
.resume a{
  /* text-align: center; */
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  display: block;
  padding: 40px;
}
.email{
  text-align: center;
  display: block;
  background-color: red;
  border-radius: 10px;
  margin: 20px;
  opacity: 0.7;
  transition: transform 0.2s;
  box-shadow: 5px 5px black;
}
.email:hover{
  opacity: 0.6;
  /* padding:10px; */
  /* background-color: #a3381d; */
  opacity: 1;
  /* padding: 20px; */
  box-shadow: 5px 5px black;
  transform: scale3d(1.1,1.1,1);
}

.email a{
  /* text-transform: capitalize; */
  text-decoration: none;
  color: white;
  display: block;
  padding: 40px;

}

.other-text{
  text-align: center;
  font-size: 20px;
}
