.project_cover{
  background-color: #1f1d1d;
  color: #FFF;
  padding: 2rem;
  padding-left: 1rem;
  padding-bottom: 30px;
  padding-top: 30px;
}

.project_heading{
  z-index: 2;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  opacity: 0.8;
  position: absolute;
  right: 0;
  padding-right: 30px;
}



div.card.projects_card{
  /* background-color: #e35e54; */
  background-color: gray;
  border: none;
  /* opacity: 0.5; */
  padding: 30px;
  /* display: inline; */
  /* color: rgba(255, 0, 0, 0.5); */
}
div.card.projects_card::after{
  background-color: gray;
  opacity: 0.2;
}

div.card.projects_card .card-title{
  font-size: 2rem;
  /* opacity: 1; */
}
p.card-text{
  padding: 0px 20px;
  text-align: center;
}
img.card-img-top.proj_img.mx-auto.d-block{
  width: 50%;
}
