.skills_cover{
  background-color: #570202;
  color: #FFF;
  padding: 2rem;
  padding-bottom: 30px;
  padding-top: 30px;
  /* position: absolute; */
  /* height: 100px; */
}
.skills_heading{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  opacity: 0.8;
  position: absolute;
}
div.card.skills_card{
  background-color: transparent;
  border: none;
  padding-top: 10px;
  /* color: rgba(255, 0, 0, 0.5); */
}
div.card.skills_card .card-title{
  font-size: 2rem;

}
img.card-img-top.skills_img{
  width: 20%;
}
